

.quiz-summary {
    font-family: $quicksand;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $off-white;
    height: 100vh;
    padding-top: 2rem;

    span.success-icon {
        color: $blue;
        font-size: $xxlg;
    }

    h1 {
        color: $blue;
        text-align: left;
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    h3{
        margin-top: 10px;
        font-size: 1.5rem;
    }

    p{
        margin-top: $md;
        line-height: 2rem;
        font-size: 18px;
    }

    .stats {
        // max-width: 50%;
        padding: $sm $md $md $sm;
    }

    .stats h4, .stats h2 {
        text-align: center;
        margin-bottom: $md;
    }

    .stats .stat {
        color: $off-black;
        font-size: $normal;
        margin-bottom: $md;
    }

    .no-stats {
        color: $off-black;
        margin: $xxlg auto;
    }

    div.container.stats {
        width: 80%;
        margin: $md $sm $md $lg;
        padding: $md $md $md $lg;
        margin-top: $md;
        // border: red 1px solid;
    }
}

@media (max-width: $md-breakpoint) {
    .quiz-summary {
        font-size: $sm;
        padding-left: $xs;
        padding-right: $xs;
    }

    div.container.stats {
        margin: 0;
        padding: $sm;
        max-width: 30%;
        width: 30%;
    }
}


// -------- Form CSS ---------

.wrapper{
    width: 60%;
    background: $off-white;
    margin: 120px auto auto auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
    border-left: 5px solid $blue;
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: $blue;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .input_field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input_field label{
    width: 200px;
    color: #0a0a0a;
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input_field .input {
    width: 100%;
    outline: none;
    border: 1px solid #d4dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
    background-color: white;
}

.wrapper .form .input_field .btn{
    width: 100%;
    margin-top: 20px;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: $blue;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    transition: all 0.3s ease;
}

.wrapper .form .input_field .btn:hover{
    background-color: darken($blue, 15%);
}

.retry-button{
    background-color: #bfbfbf !important;
    padding: 0.7rem $xxlg !important;
    border-radius: 15px !important;
    border: none;
    margin: $lg auto !important;
    color: #fff !important;
    font-size: 16px;
    transition: 0.3s linear all;
}

.retry-button:hover{
    background-color: darken($blue,5%) !important;
}