#result {
  background-color: white;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  font-family: "Poppins", sans-serif;
  margin-top: 80px;

  .laptop-img {
    width: 100%;
    height: 100%;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 30px;
  }

  h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-top: 1.8rem;
  }

  h3 {
    text-align: left;
    color: $off-white;
    font-size: 1.6rem;
    margin-top: 2rem;
    line-height: 2.5rem;
    font-family: $quicksand;
  }

  p {
    text-align: left;
    color: $off-white;
    font-size: 0.9rem;
    // margin-top: 8rem;
    line-height: 2.5rem;
    font-family: $quicksand;
    position: absolute;
    left: 120px;
    bottom: 10px;
  }

  .panel {
    background-color: $blue;
  }

  .hr-line {
    width: 80%;
    margin: auto;
    border-top: 3px solid $off-white;
    margin-top: 20px;
  }

  .result-text {
    padding-top: 20px;
    background-color: $blue;
    max-height: 80vh;
    overflow-y: scroll;
  }

  .itemList {
    padding: 0px 40px 0px 40px;
    background-color: $blue;
    transition: 0.2s linear all;

    .header {
      color: $off-white;
      font-size: 1.4rem;
    }

    .price {
      font-family: "Poppins", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      color: $off-white;
    }

    .image {
      max-width: 100px;
      max-height: 100px;
      margin-right: 0px;
    }

    .content {
      padding-top: 20px;
    }
  }

  .itemList:hover {
    background-color: darken($blue, 8%);
  }

  .selectedItem {
    background-color: $light-blue;
    padding: 0px 20px 0px 30px;

    .header {
      color: $green;
    }

    .price {
      color: #27a4f1;
    }
  }

  .selectedItem:hover {
    background-color: darken($light-blue, 5%);
  }

  .itemDesc {
    margin: auto;
    width: 100%;
    transition: 0.2s linear all;

    .title {
      color: $blue;
      font-size: 1.7rem;
      margin-bottom: 10px;
    }

    .price {
      font-size: 1.3rem;
      color: $orange;
    }

    .item-desc-box {
      line-height: 1.9;
      font-size: 1.1rem;
    }

    .content {
      margin-left: 50px;
      margin-right: 70px;
    }

    .item-desc-btn {
      width: 300px;
      transition: 0.2s linear all;
      background-color: $green;
      color: $off-white;
    }

    .item-desc-btn:hover {
      width: 320px;
      background-color: #79c76b;
    }
  }
}

.loading-page {
  background-color: $blue;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  margin-top: 80px;

  h1 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    font-size: 2.3rem;
    margin-top: 1.8rem;
  }

  h2 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    font-size: 1.6rem;
    margin-top: 1.8rem;
  }

  p {
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    // font-size: 1.5rem;
    margin-top: 1.8rem;
  }

  .loader {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// -------- Form CSS ---------

.wrapper {
  margin-top: 20px;
  margin-left: -15px;

  .email-field {
    width: 400px !important;
    padding: 15px 10px;
  }
}

.form-custom {
  padding: 0px;
  margin-left: 0px;
}

.wrapper .form {
  width: 100%;
}

// Results

.results {
  width: 100vw;
  background: #f2f2f2;
  padding-top: 50px;
  padding-bottom: 30px;
  font-family: $poppins;
  //   border: 2px solid #000;

  h1 {
    color: $green;
  }

  p {
    color: $off-black;
  }
}

.result-list {
  padding-left: auto;
  padding-right: auto;
  //   border: 2px solid $blue;
}
