.email-featured {
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;

  &-title {
    width: 100%;
    margin-bottom: 1vw;
    background-color: $light-blue;
    padding: 1vw;
    margin: 0;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }

  .email-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1vw;
    margin: 0 auto;
    gap: 1.2vw;

    input {
      width: 100%;
      color: $dark;
      font-size: calc(0.4rem + 0.5vw);
    }

    &-btn {
      border-radius: 4px;
      padding: 8px 20px;
      border: 1px solid $green;
      font-weight: 600;
      color: $off-white;
      background-color: $green;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
    &-btn:hover {
      border: 1px solid $off-white;
      color: $off-white;
      background-color: $green-variant;
    }
  }
}

.toast-container {
  width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;

  .toast-success {
    max-width: 100%;
    flex-basis: auto;

    .toast-header {
      padding: 6px 10px;
      border-radius: 0.25rem;
      border-bottom: none;
      color: $green-variant;
    }
  }
  .toast-failed {
    max-width: 100%;
    flex-basis: auto;

    .toast-header {
      padding: 6px 10px;
      border-radius: 0.25rem;
      border-bottom: none;
      color: $danger;
    }
  }
}

.loading-page {
  background-color: $blue;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  padding: 0 20px;

  h1 {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    font-size: 2.3rem;
    margin-top: 1.8rem;
  }

  h2 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    font-size: 1.6rem;
    margin-top: 1.8rem;
  }

  p {
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    margin-top: 1.8rem;
  }

  .loader {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-content {
  border-radius: 12px !important;

  .modal-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 1rem !important;

    .icon-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      color: $dark;
      cursor: pointer;
    }

    .icon-close:hover {
      color: $dark-variant;
    }

    &-top {
      color: $blue;
      font-size: calc(0.7rem + 0.6vw);
      text-align: center;
      font-weight: 600;
      margin: 0;
    }

    &-mid {
      width: 80%;
      height: auto;
      margin: 0.75rem 0;
    }

    &-bottom {
      color: $blue;
      font-size: calc(0.7rem + 0.6vw);
      text-align: center;
      font-weight: 600;
    }
  }

  .modal-footer {
    padding: 1rem !important;

    &-btn {
      padding: 8px 30px;
      border-radius: 8px;
      border: none;
      color: $off-white;
      background-color: $green;
      transition: 0.3s linear all;
      font-size: 1.4rem;
      font-weight: 600;
    }

    &-btn:hover {
      background-color: darken($color: $green, $amount: 10%);
    }
  }
}

.result-container {
  width: 100vw;
  margin: 0;
  padding: 0;

  .result {
    width: 80%;
    margin: 0 auto;
    padding-top: 0.4vw;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;

    .sidebar {
      width: 24%;
      display: flex;
      flex-direction: column;
      gap: 1.6vw;
    }

    &-sidebar {
      width: 100%;
      color: $dark-variant;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 8px;

      &-title {
        background-color: $light-blue;
        padding: 1vw;
        margin: 0;
        font-size: 1.5vw;
        text-align: center;
        border-radius: 8px 8px 0 0;
      }

      &-body {
        display: flex;
        flex-direction: column;
        gap: 2vw;
        padding: 1vw;
        margin: 0;
        border-radius: 0 0 8px 8px;

        .quizAnswer {
          display: flex;
          flex-direction: column;
          gap: 0.4vw;
          color: $dark-variant;

          &-title {
            margin: 0;
            font-size: 1.3vw;
            color: $blue;
          }

          &-price {
            padding-top: 0.2vw;
            padding-left: 0.5vw;
            font-size: 1.16vw;
            font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
          }

          &-item {
            display: flex;
            flex-direction: column;
            gap: 0.6vw;
            padding-top: 0.2vw;
            padding-left: 0.5vw;

            p {
              margin: 0;
              font-size: 1.16vw;
              font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
              display: flex;
              align-items: center;
              gap: 0.6vw;

              .icon-circle {
                font-size: 0.7vw;
                color: $dark-variant;
              }
            }
          }
        }
      }
    }

    &-main {
      width: 72%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 8px;
      color: $dark-variant;

      &-title {
        background-color: $light-blue;
        padding: 1vw;
        margin: 0;
        font-size: 1.5vw;
        text-align: center;
        border-radius: 8px 8px 0 0;
      }

      &-body {
        padding: 1vw;
        margin: 0;
        border-radius: 0 0 8px 8px;

        .result-main-item {
          position: relative;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          padding: 2vw 0;
          border-bottom: 2px solid #ccc7c7;

          .laptop-num {
            position: absolute;
            top: 0.5rem;
            left: 0;
            font-size: 1.4vw;
            font-weight: 600;
          }

          &-img {
            width: 40%;
            height: auto;

            h4 {
              font-size: 1.6vw;
              text-align: center;
            }

            img {
              width: 100%;
              height: auto;
            }

            .slider-image-container {
              position: relative;
              width: 100%;
              margin-bottom: 50px;

              .slider-prev-btn,
              .slider-next-btn {
                border: none;
                background-color: transparent;
              }

              .icon-left,
              .icon-right {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #575761;
                font-size: 2.4vw;
              }

              .paging-item {
                padding: 0 6px;
              }

              .dots-custom {
                transform: scale(1.7);
              }

              .carousel-img {
                width: 100%;
                height: auto;
                cursor: pointer;
              }
              .carousel-img:active {
                cursor: grabbing;
                cursor: -moz-grabbing;
                cursor: -webkit-grabbing;
              }
            }
          }

          &-desc {
            width: 40%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .desc-price {
              color: $warning;
              font-weight: 500;
              font-size: 1.4vw;
            }

            .desc-specs {
              display: flex;
              flex-direction: column;
              gap: 0.5vw;

              p {
                margin: 0;
                font-size: 1.05vw;
              }
            }

            .desc-btn {
              width: 100%;
              text-align: center;
              margin-top: 2vw;

              .item-desc-btn {
                background-color: $green;
                color: $off-white;
                font-size: 1.2vw;
                border-radius: 15px;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
                padding: 1vw 3vw;
              }

              .item-desc-btn:hover {
                padding: 1vw 2.5vw;
                background-color: darken($color: $green, $amount: 10%);
              }
            }
          }

          &-insights {
            width: 100%;
            margin-top: 3vw;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .insights-item {
              margin-bottom: 5px;
              margin-top: 5px;
              margin-left: 10px;
              margin-right: 0px;
            }

            .insights-positive {
              background-color: $green;
              color: $off-white;
            }

            .insights-negative {
              background-color: $danger;
              color: $off-white;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .email-featured {
    .email-form {
      input {
        font-size: 1.05vw;
      }
    }
  }

  .modal-dialog {
    max-width: 420px !important;
  }

  .result-container {
    .result {
      &-sidebar {
        &-body {
          .quizAnswer {
            &-item {
              p {
                .icon-circle {
                  font-size: 0.63vw;
                }
              }
            }
          }
        }
      }

      &-main {
        &-body {
          padding: 1vw;
          margin: 0;
          border-radius: 0 0 8px 8px;

          .result-main-item {
            &-img {
              .slider-image-container {
                .icon-left,
                .icon-right {
                  font-size: 2.1vw;
                }

                .paging-item {
                  padding: 0 5px;
                }

                .dots-custom {
                  transform: scale(1.5);
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .email-featured {
    width: 100%;
    margin-top: 2.4vw;

    &-title {
      font-size: 2.2vw;
    }

    .email-form {
      gap: 0;
      justify-content: space-between;

      input {
        width: 70%;
        font-size: 1.3vw;
      }

      &-btn {
        width: 24%;
        padding: 6px 20px;
        font-size: 1.4vw;
      }
    }
  }

  .toast-container {
    margin: 1.2vw 0;
  }

  .result-container {
    .result {
      padding-top: 0.6vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sidebar {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0;
      }

      &-sidebar {
        &-title {
          padding: 1.4vw;
          font-size: 2.2vw;
        }

        &-body {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          gap: 2vw;
          padding: 1.2vw;

          .quizAnswer {
            gap: 0.6vw;

            &-title {
              font-size: 1.6vw;
            }

            &-price {
              font-size: 1.3vw;
            }

            &-item {
              gap: 0.7vw;

              p {
                font-size: 1.3vw;
                gap: 0.6vw;

                .icon-circle {
                  font-size: 0.7vw;
                }
              }
            }
          }
        }
      }

      &-main {
        width: 80%;

        &-title {
          padding: 1.4vw;
          font-size: 2.2vw;
        }

        &-body {
          .result-main-item {
            .laptop-num {
              font-size: 1.5vw;
            }

            &-img {
              h4 {
                font-size: 1.7vw;
                margin-bottom: 0.2vw;
              }

              .slider-image-container {
                margin-bottom: 20px;

                .icon-left,
                .icon-right {
                  font-size: 3.4vw;
                }
                .paging-item {
                  padding: 0 4px;
                }

                .dots-custom {
                  transform: scale(1.3);
                }
              }
            }

            &-desc {
              .desc-price {
                font-size: 1.5vw;
              }

              .desc-specs {
                p {
                  font-size: 1.15vw;
                }
              }

              .desc-btn {
                .item-desc-btn {
                  font-size: 1.25vw;
                }
              }
            }

            &-insights {
              margin-top: 2.6vw;

              .insights-item {
                font-size: 1.2vw;
              }
            }
          }
        }
      }
    }
  }

  .loading-page {
    margin-top: 0px;

    h1 {
      width: 100%;
      padding: 0 2rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(1.4rem + 1vw);
      margin: 1.8rem 0;
    }

    h2 {
      font-size: 1.6rem;
    }

    p {
      margin-top: 1.8rem;
    }

    .loader {
      margin: 1.8rem 0 0 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .promo-banner {
    font-size: 0.8rem !important;
    padding: 0.3rem 1.25rem !important;
  }

  .email-featured {
    width: 100%;
    margin-top: 4vw;

    &-title {
      font-size: 3.8vw;
    }

    .email-form {
      gap: 0;
      justify-content: space-between;

      input {
        width: 70%;
        font-size: 3vw;
      }

      &-btn {
        width: 24%;
        padding: 6px 20px;
        font-size: 2.8vw;
      }
    }
  }

  .toast-container {
    margin: 2vw 0;

    .toast-success {
      .toast-header {
        font-size: 2.8vw;
      }
    }
    .toast-failed {
      .toast-header {
        font-size: 2.8vw;
      }
    }
  }

  .result-container {
    .result {
      padding-top: 0.6vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sidebar {
        width: 100%;
      }

      &-sidebar {
        width: 100%;

        &-title {
          padding: 2vw 0;
          font-size: 3.8vw;
        }

        &-body {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding: 3vw 1.2vw;

          .quizAnswer {
            display: flex;
            flex-direction: column;
            gap: 1.2vw;
            color: $dark-variant;

            &-title {
              font-size: 3vw;
            }

            &-price {
              padding-top: 0.8vw;
              padding-left: 0;
              font-size: 2.8vw;
            }

            &-item {
              display: flex;
              flex-direction: column;
              gap: 0.8vw;
              padding-top: 0.7vw;
              padding-left: 0;

              p {
                font-size: 2.8vw;
                gap: 0.7vw;

                .icon-circle {
                  font-size: 1.1vw;
                }
              }
            }
          }
        }
      }

      &-main {
        width: 100%;
        margin-bottom: 2.4rem;

        &-title {
          font-size: 3.4vw;
        }

        &-body {
          padding: 1vw;

          .result-main-item {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 4vw 0;
            border-bottom: 2px solid #ccc7c7;

            .laptop-num {
              font-size: 3.7vw;
              left: 0.3rem;
            }

            &-img {
              width: 70%;
              height: auto;

              h4 {
                font-size: 4vw;
                text-align: center;
                margin: 0;
              }

              img {
                width: 100%;
                height: auto;
              }

              .slider-image-container {
                margin-bottom: 10px;

                .icon-left,
                .icon-right {
                  font-size: 4.4vw;
                }

                .paging-item {
                  padding: 0 4px;
                }

                .dots-custom {
                  transform: scale(1);
                }
              }
            }

            &-desc {
              width: 100%;
              margin: 2vw auto 0;
              display: flex;
              align-items: center;
              flex-direction: column;
              justify-content: center;

              .desc-price {
                font-size: 3.4vw;
              }

              .desc-specs {
                gap: 0.5vw;

                p {
                  font-size: 3vw;
                }
              }

              .desc-btn {
                margin-top: 4vw;

                .item-desc-btn {
                  font-size: 3.2vw;
                  padding: 2vw 6vw;
                }
                .item-desc-btn:hover {
                  padding: 2vw 6.7vw;
                }
              }
            }

            &-insights {
              margin-top: 4vw;

              .insights-item {
                font-size: 2.6vw;
              }
            }
          }
        }
      }
    }
  }

  .loading-page {
    margin-top: 0px;

    h1 {
      width: 100%;
      padding: 0 2rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(1.4rem + 1vw);
      margin: 1.8rem 0;
    }

    h2 {
      font-size: 1.6rem;
    }

    p {
      margin-top: 1.8rem;
    }

    .loader {
      margin: 1.8rem 0 0 0;
    }
  }

  .modal-dialog {
    width: 80% !important;
    margin: 0.5rem auto !important;
  }

  .modal-content {
    .modal-main {
      padding: 4rem 1.4rem 1rem !important;

      &-top {
        font-size: calc(0.95rem + 0.7vw);
      }

      &-mid {
        width: 90%;
      }

      &-bottom {
        font-size: calc(0.95rem + 0.7vw);
      }
    }

    .modal-footer {
      padding: 1rem !important;

      &-btn {
        padding: 6px 30px;
        border-radius: 8px;
        border: none;
        color: $off-white;
        background-color: $green;
        transition: 0.3s linear all;
        font-size: 1.3rem;
        font-weight: 600;
      }

      &-btn:hover {
        background-color: darken($color: $green, $amount: 10%);
      }
    }
  }
}
