.loading-page {
  background-color: $blue;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  justify-content: space-around;
  padding: 0 20px;

  h1 {
    width: 100%;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    font-size: 2.3rem;
    margin-top: 1.8rem;
  }

  h2 {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    font-size: 1.6rem;
    margin-top: 1.8rem;
  }

  p {
    margin: 0;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $off-white;
    margin-top: 1.8rem;
  }

  .loader {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-content {
  border-radius: 12px !important;

  .modal-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem 1rem !important;

    .icon-close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 2rem;
      color: $dark;
      cursor: pointer;
    }

    .icon-close:hover {
      color: $dark-variant;
    }

    &-top {
      color: $blue;
      font-size: calc(0.7rem + 0.6vw);
      text-align: center;
      font-weight: 600;
      margin: 0;
    }

    &-mid {
      width: 80%;
      height: auto;
      margin: 0.75rem 0;
    }

    &-bottom {
      color: $blue;
      font-size: calc(0.7rem + 0.6vw);
      text-align: center;
      font-weight: 600;
    }
  }

  .modal-footer {
    padding: 1rem !important;

    &-btn {
      padding: 8px 30px;
      border-radius: 8px;
      border: none;
      color: $off-white;
      background-color: $green;
      transition: 0.3s linear all;
      font-size: 1.4rem;
      font-weight: 600;
    }

    &-btn:hover {
      background-color: darken($color: $green, $amount: 10%);
    }
  }
}

.result-container {
  width: 100vw;
  margin: 0;
  padding: 0;

  .result {
    width: 80%;
    margin: 0 auto;
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: white;
    background-size: cover;
    background-position: center;
    font-family: "Poppins", sans-serif;

    .sidebar {
      width: 24%;
      display: flex;
      flex-direction: column;
      gap: 1.6vw;
    }

    &-main {
      width: 72%;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      border-radius: 8px;
      color: $dark-variant;

      &-title {
        background-color: $light-blue;
        padding: 1vw;
        margin: 0;
        font-size: 1.5vw;
        text-align: center;
        border-radius: 8px 8px 0 0;
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .modal-dialog {
    max-width: 420px !important;
  }
}

@media screen and (max-width: 991px) {
  .result-container {
    .result {
      padding-top: 2.2rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sidebar {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 0;
      }

      &-main {
        width: 100%;

        &-title {
          padding: 1.4vw;
          font-size: 3.3vw;
        }
      }
    }
  }

  .loading-page {
    margin-top: 0px;

    h1 {
      width: 100%;
      padding: 0 2rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(1.4rem + 1vw);
      margin: 1.8rem 0;
    }

    h2 {
      font-size: 1.6rem;
    }

    p {
      margin-top: 1.8rem;
    }

    .loader {
      margin: 1.8rem 0 0 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .promo-banner {
    font-size: 0.8rem !important;
    padding: 0.3rem 1.25rem !important;
  }

  .result-container {
    .result {
      padding-top: 1.8rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .sidebar {
        width: 100%;
      }

      &-main {
        width: 100%;
        margin-bottom: 2.4rem;

        &-title {
          font-size: 3.8vw;
        }
      }
    }
  }

  .loading-page {
    margin-top: 0px;

    h1 {
      width: 100%;
      padding: 0 2rem;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: calc(1.4rem + 1vw);
      margin: 1.8rem 0;
    }

    h2 {
      font-size: 1.6rem;
    }

    p {
      margin-top: 1.8rem;
    }

    .loader {
      margin: 1.8rem 0 0 0;
    }
  }

  .modal-dialog {
    width: 80% !important;
    margin: 0.5rem auto !important;
  }

  .modal-content {
    .modal-main {
      padding: 4rem 1.4rem 1rem !important;

      &-top {
        font-size: calc(0.95rem + 0.7vw);
      }

      &-mid {
        width: 90%;
      }

      &-bottom {
        font-size: calc(0.95rem + 0.7vw);
      }
    }

    .modal-footer {
      padding: 1rem !important;

      &-btn {
        padding: 6px 30px;
        border-radius: 8px;
        border: none;
        color: $off-white;
        background-color: $green;
        transition: 0.3s linear all;
        font-size: 1.3rem;
        font-weight: 600;
      }

      &-btn:hover {
        background-color: darken($color: $green, $amount: 10%);
      }
    }
  }
}
