.laptopList {
  padding: 0 1vw;
  margin: 0;
  border-radius: 0 0 8px 8px;

  .laptopList-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1vw 0;
    margin: 1vw 0;
    border-bottom: 2px solid #ccc7c7;

    .laptop-num {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      font-size: 1.3vw;
      font-weight: 600;
    }

    .sponsorship-num {
      color: $blue;
    }

    .sponsorshipLabel {
      position: absolute;
      top: 0;
      right: 0;
      font-size: 1vw;
      font-weight: 600;
      font-family: $quicksand;
      color: $blue;
      padding: 6px 8px;
      border-radius: 30px;
      cursor: default;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      display: flex;
      align-items: center;
      gap: 0.4rem;

      &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        line-height: 1.4;
      }

      &-icon {
        font-size: 1.3rem;
      }

      &-title {
        margin: 0;
        padding: 0;
      }
    }
    .sponsorshipLabel:hover {
      color: $dark-blue;
      background-color: #e8e8e8;
      box-shadow: none;
    }

    .laptopList-item-img {
      width: 34%;
      height: auto;

      .desc-name {
        h4 {
          font-size: 1.5vw;
          text-align: center;
          margin: 0;
        }
      }

      .highlight-name {
        color: $blue;
        display: flex;
        justify-content: center;
        gap: 0.4rem;

        small {
          font-size: calc(0.2rem + 0.6vw);
        }
      }

      img {
        width: 100%;
        height: auto;
      }

      .slider-image-container {
        position: relative;
        width: 100%;

        .slider-prev-btn,
        .slider-next-btn {
          border: none;
          background-color: transparent;
        }

        .icon-left,
        .icon-right {
          display: flex;
          justify-content: center;
          align-items: center;
          color: #575761;
          font-size: 2.4vw;
        }

        .paging-item {
          padding: 0 6px;
        }

        .dots-custom {
          transform: scale(1.7);
        }

        .carousel-img {
          width: 100%;
          height: auto;
          cursor: pointer;
        }
        .carousel-img:active {
          cursor: grabbing;
          cursor: -moz-grabbing;
          cursor: -webkit-grabbing;
        }
      }
    }

    .laptopList-item-desc {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .desc-price {
        color: $warning;
        font-weight: 500;
        font-size: 1.3vw;
      }

      .desc-specs {
        display: flex;
        flex-direction: column;
        gap: 0.5vw;

        p {
          margin: 0;
          font-size: 1vw;
        }
      }

      .desc-btn {
        width: 100%;
        text-align: center;
        margin-top: 2vw;

        .item-desc-btn {
          background-color: $green;
          color: $off-white;
          font-size: 1.1vw;
          border-radius: 15px;
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          padding: 1vw 3vw;
        }

        .item-desc-btn:hover {
          padding: 1vw 2.5vw;
          background-color: darken($color: $green, $amount: 10%);
        }
      }
    }

    .laptopList-item-insights {
      width: 100%;
      margin-top: 1.2vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .insights-item {
        margin-bottom: 5px;
        margin-top: 5px;
        margin-left: 10px;
        margin-right: 0px;
      }

      .insights-positive {
        background-color: $green;
        color: $off-white;
      }

      .insights-negative {
        background-color: $danger;
        color: $off-white;
      }
    }

    .laptopList-item-review {
      width: 100%;
      padding: 1.2vw;
      display: flex;
      flex-direction: column;
      gap: 1.2vw;

      &-reason {
        font-size: 0.9vw;
        font-family: $poppins;

        p {
          b {
            font-weight: 700;
          }
          font-weight: 500;
          color: $off-black;
        }
      }

      &-comments {
        display: flex;
        flex-direction: column;
        font-family: $poppins;

        .accordion {
          box-shadow: none;
          border-radius: 4px;
          transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        }
        .accordion:hover {
          background-color: #efeded;
        }

        .icon-down {
          color: $orange;
          font-size: 1.6vw;
        }

        &-title {
          display: flex;
          margin: 0 !important;
          padding: 0;
          justify-content: flex-start !important;

          // Delete margin & make icon beside title on MUI class
          .css-o4b71y-MuiAccordionSummary-content {
            flex-grow: 0;
            margin: 0;
          }

          h6 {
            font-size: 1.05vw;
            color: $orange;
            border-bottom: 2px solid $orange;
            padding: 0.6vw 1vw;
            font-weight: 600;
            margin: 0;
          }
        }

        .css-15v22id-MuiAccordionDetails-root {
          padding: 0 1vw;
        }

        &-content {
          font-size: 0.9vw;
          // padding: 0.6vw 1vw;
          font-weight: 500;
          margin: 0;
        }
      }
    }
  }

  .sponsorshipHighlight {
    background-color: rgba($color: #59bd81, $alpha: 0.2);
  }

  .border-orange {
    border-bottom: 4px solid $light-orange !important;
  }
}

@media screen and (max-width: 1366px) {
  .laptopList {
    .laptopList-item {
      .laptopList-item-img {
        .slider-image-container {
          .icon-left,
          .icon-right {
            font-size: 2.1vw;
          }

          .paging-item {
            padding: 0 5px;
          }

          .dots-custom {
            transform: scale(1.5);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .laptopList {
    .laptopList-item {
      margin: 0.5vw 0;

      .laptop-num {
        font-size: 3vw;
      }

      .sponsorshipLabel {
        top: 0;
        right: 0;
        padding: 3px 6px;
        font-size: 1.5vw;
        gap: 0.3rem;

        &-icon {
          font-size: 1.8vw;
        }
      }

      .laptopList-item-img {
        .desc-name {
          h4 {
            font-size: 2.8vw;
            margin-bottom: 0.2vw;
          }
        }

        .highlight-name {
          gap: 0.4rem;

          small {
            font-size: calc(0.4rem + 0.6vw);
          }
        }

        .slider-image-container {
          .icon-left,
          .icon-right {
            font-size: 3.5vw;
          }
          .paging-item {
            padding: 0 4px;
          }

          .dots-custom {
            transform: scale(1.2);
          }
        }
      }

      .laptopList-item-desc {
        .desc-price {
          font-size: 2.4vw;
        }

        .desc-specs {
          p {
            font-size: 1.95vw;
          }
        }

        .desc-btn {
          .item-desc-btn {
            font-size: 1.95vw;
          }
        }
      }

      .laptopList-item-insights {
        margin-top: 1vw;

        .insights-item {
          font-size: 1.7vw;
        }
      }

      .laptopList-item-review {
        padding: 1.6vw;
        gap: 2vw;

        &-reason {
          font-size: 1.75vw;
        }

        &-comments {
          &-title {
            h6 {
              font-size: 2vw;
              padding: 1 1.4vw;
            }
          }

          &-content {
            font-size: 1.75vw;
            padding: 1vw 1.4vw;
          }
        }
      }
    }

    .sponsorship-padding {
      padding-top: 4vw;
    }
  }
}

@media screen and (max-width: 576px) {
  .laptopList {
    .laptopList-item {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding: 4vw 0;
      margin: 0.7vw 0;
      border-bottom: 2px solid #ccc7c7;

      .laptop-num {
        font-size: 3.7vw;
        left: 0.7rem;
      }

      .sponsorshipLabel {
        background-color: #fff;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 0px 0px 0px,
          rgba(60, 64, 67, 0.15) 0px 0px 0px 0px;
        top: 0.5rem;
        right: 0.4rem;
        padding: 2px 4px;
        font-size: 3.3vw;
        gap: 0.2rem;

        &-icon {
          font-size: 3.5vw;
        }
      }

      .laptopList-item-img {
        width: 70%;
        height: auto;

        .desc-name {
          h4 {
            font-size: 4vw;
            text-align: center;
          }
        }

        .highlight-name {
          display: flex;
          align-items: flex-start;
          gap: 0.4rem;
          margin-top: 1.6rem;

          small {
            font-size: calc(0.4rem + 0.6vw);
          }
        }

        img {
          width: 100%;
          height: auto;
        }

        .slider-image-container {
          .icon-left,
          .icon-right {
            font-size: 4.4vw;
          }

          .paging-item {
            padding: 0 4px;
          }

          .dots-custom {
            transform: scale(1);
          }
        }
      }

      .laptopList-item-desc {
        width: 100%;
        margin: 2vw auto 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .desc-price {
          font-size: 3.4vw;
        }

        .desc-specs {
          gap: 0.5vw;

          p {
            font-size: 3vw;
          }
        }

        .desc-btn {
          margin-top: 4vw;

          .item-desc-btn {
            font-size: 3.2vw;
            padding: 2vw 6vw;
          }
          .item-desc-btn:hover {
            padding: 2vw 6.7vw;
          }
        }
      }

      .laptopList-item-insights {
        margin-top: 2vw;

        .insights-item {
          font-size: 2.6vw;
        }
      }

      .laptopList-item-review {
        padding: 4vw 2.4vw 0;
        gap: 2vw;

        &-reason {
          font-size: 2.8vw;
        }

        &-comments {
          .icon-down {
            font-size: 5vw;
          }

          &-title {
            h6 {
              font-size: 3.1vw;
              padding: 1.6vw 3.4vw;
            }
          }

          .css-15v22id-MuiAccordionDetails-root {
            padding: 0;
          }

          &-content {
            height: 3.6rem;
            overflow: hidden;
            font-size: 2.8vw;
            padding: 1.6vw 3.2vw;
          }

          .mobileContent-show {
            height: auto !important;
            overflow: auto !important;
          }
        }
      }
    }

    .sponsorship-padding {
      padding-top: 4.5vw;
    }
  }
}
