.resultAnswer {
  width: 100%;
  color: $dark-variant;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border-radius: 8px;

  &-title {
    background-color: $light-blue;
    padding: 1vw;
    margin: 0;
    font-size: 1.5vw;
    text-align: center;
    border-radius: 8px 8px 0 0;
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 1vw;
    margin: 0;
    border-radius: 0 0 8px 8px;

    .quizAnswer {
      display: flex;
      flex-direction: column;
      gap: 0.4vw;
      color: $dark-variant;

      &-budget {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon-pen {
          font-size: 1.2vw;
          color: #777777;
          cursor: pointer;
        }
        .icon-pen:hover {
          color: #5b5959;
        }
      }

      &-title {
        margin: 0;
        font-size: 1.3vw;
        color: $blue;
      }

      &-price {
        padding-top: 0.2vw;
        padding-left: 0.5vw;
        font-size: 1.16vw;
        font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
        margin: 0;
      }

      &-item {
        display: flex;
        flex-direction: column;
        gap: 0.6vw;
        padding-top: 0.2vw;
        padding-left: 0.5vw;

        p {
          margin: 0;
          font-size: 1.16vw;
          font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
          display: flex;
          align-items: center;
          gap: 0.6vw;

          .icon-circle {
            font-size: 0.7vw;
            color: $dark-variant;
          }
        }
      }
    }
  }
}

.budget-collapse {
  margin-top: -0.4rem;
}

// Multi Slider
.budget-slider {
  margin-top: 0.8rem;
  margin-bottom: 0.4rem;

  &-multi-range {
    position: relative;
    width: 90%;
    display: flex;
    margin: 6px auto;

    .min-value {
      position: absolute;
      font-size: 1.16vw;
      left: 0;
      top: 2.5rem;
    }

    .max-value {
      position: absolute;
      font-size: 1.16vw;
      right: 0;
      top: 2.5rem;
    }

    .MuiSlider-root {
      height: 5px;

      .MuiSlider-thumb {
        width: 20px;
        height: 20px;
      }
    }
  }

  &-btn {
    margin-top: 2rem;
    width: 100%;
    border-radius: 4px;
    padding: 8px 20px;
    border: 1px solid $green;
    font-weight: 600;
    color: $off-white;
    background-color: $green;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 1.1vw;
  }
  &-btn:hover {
    border: 1px solid $off-white;
    color: $off-white;
    background-color: $green-variant;
  }
}

@media screen and (max-width: 991px) {
  .resultAnswer {
    &-title {
      padding: 1.4vw;
      font-size: 3.3vw;
    }

    &-body {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 2vw;
      padding: 1.2vw;

      .quizAnswer {
        gap: 0.6vw;

        &-budget {
          gap: 1vw;
          .icon-pen {
            font-size: 1.5vw;
          }
        }

        &-title {
          font-size: 2.5vw;
        }

        &-price {
          font-size: 2vw;
        }

        &-item {
          gap: 0.7vw;

          p {
            font-size: 2vw;
            gap: 0.6vw;

            .icon-circle {
              font-size: 1vw;
            }
          }
        }
      }

      .mobile-slider-budget {
        width: 100%;
      }
    }
  }

  .budget-collapse {
    margin-top: 0;
  }

  // Multi Slider
  .budget-slider {
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-multi-range {
      width: 90%;

      .min-value {
        font-size: 2vw;
        top: 2.7rem;
      }

      .max-value {
        font-size: 2vw;
        top: 2.7rem;
      }
    }

    &-btn {
      margin-top: 2rem;
      margin-bottom: 1rem;
      width: 90%;
      font-size: 2vw;
    }
  }
}

@media screen and (max-width: 576px) {
  .resultAnswer {
    width: 100%;

    &-title {
      padding: 2vw 0;
      font-size: 3.8vw;
    }

    &-body {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 3vw 1.2vw;

      .quizAnswer {
        display: flex;
        flex-direction: column;
        gap: 1.2vw;
        color: $dark-variant;

        &-budget {
          gap: 2vw;

          .icon-pen {
            font-size: 2.5vw;
          }
        }

        &-title {
          font-size: 3vw;
        }

        &-price {
          padding-top: 0.8vw;
          padding-left: 0;
          font-size: 2.8vw;
        }

        &-item {
          display: flex;
          flex-direction: column;
          gap: 0.8vw;
          padding-top: 0.7vw;
          padding-left: 0;

          p {
            font-size: 2.8vw;
            gap: 0.7vw;

            .icon-circle {
              font-size: 1.1vw;
            }
          }
        }
      }
    }
  }

  .budget-collapse {
    margin-top: 0;
  }

  // Multi Slider
  .budget-slider {
    margin-top: 0;
    margin-bottom: 0.3rem;

    &-multi-range {
      .min-value {
        font-size: 2.8vw;
        top: 2.5rem;
      }

      .max-value {
        font-size: 2.8vw;
        top: 2.5rem;
      }

      .MuiSlider-root {
        height: 4px;

        .MuiSlider-thumb {
          width: 17px;
          height: 17px;
        }
      }
    }

    &-btn {
      margin-top: 1rem;
      margin-bottom: 0.6rem;
      width: 90%;
      font-size: 3vw;
    }
  }
}
