// colors
$orange: #ffa500;
$off-white: #f8f8f8;
$green: #54cd84;
$blue: #1da1f2;
$dark-blue: #2b7daf;
$light-blue: #cfebfc;
$off-black: #333;
$dark: #2a2c34;
$dark-variant: #474b5a;
$light-blue-variant: #e3f8ff;
$danger: #ff7782;

// sizes
$xs: 0.5rem;
$normal: 1rem;
$sm: 1.5rem;
$md: 2rem;
$lg: 3rem;
$xlg: 5rem;
$xxlg: 7rem;

$button-radius: 30px;

$md-breakpoint: 768px;

$quicksand: "Quicksand", sans-serif;
$poppins: "Poppins", sans-serif;

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import "./HomePage/home";
@import "./PlayPage/play";
@import "./ResultPage/result";
@import "./menubar";
@import "./footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $quicksand;
}

.disable {
  background-color: #ccc !important;
  box-shadow: none;
  opacity: 0.8;
  pointer-events: none;
}

.disable-span {
  display: none;
}
