.quiz-body {
  background-color: $blue;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.questions {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  background-color: #f2f2f2;
  width: 88%;
  margin: 0px auto 0 auto;
  padding: $sm $md;
  border-radius: 6px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1) all;

  h5 {
    font-size: 2.3rem;
    margin-top: $sm !important;
    margin-bottom: $md;
    line-height: 1.5;
    text-align: center;
    font-family: $quicksand;
  }

  .options-container {
    display: inline-block;
    width: 50%;
  }

  .option {
    background-color: $blue;
    color: $off-white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.125);
    border-radius: $button-radius;
    margin: $md auto $sm auto;

    font-size: calc(6px + 0.7vw);
    font-family: $quicksand;
    cursor: pointer;
    padding: $normal;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
    text-align: center;
    width: 90%;
  }

  .option:hover {
    background-color: darken($blue, 15%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .option-multiple {
    position: relative;
    border-radius: $button-radius;
    background-color: $blue;
    margin: $md auto $sm auto;
    color: $off-white;
    cursor: pointer;
    padding: $normal;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
    text-align: center;
    width: 90%;
    font-size: calc(6px + 0.7vw);
  }

  .option-multiple:hover {
    background-color: darken($blue, 15%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  .selected {
    background-color: darken($green, 8%) !important;
  }

  .icon-check {
    opacity: 1;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
  }

  .icon-check-hidden {
    opacity: 0;
    position: absolute;
    left: 0.3rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1) all;
  }

  &-multiple {
    padding-top: 2rem !important;
    border-bottom: 3px solid $green;
    font-size: calc(2.3rem);
  }
}

.questions:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.button-container {
  margin: 20px 0 $sm 0;
  padding: $md;
  width: 100%;

  button {
    border: none;
    color: $off-white;
    cursor: pointer;
    font-family: $quicksand;
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 3px;
    padding: $xs $xxlg;
    border-radius: 15px;
  }

  button:first-child {
    background-color: darken($green, 0%);
    box-shadow: $off-black;
    transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1) all;
    padding: 1rem 10rem 1rem 10rem;
  }

  button:first-child:hover {
    background-color: darken($green, 5%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  // button:nth-child(2){
  //     background-color: $green;
  //     box-shadow: $off-black;
  //     transition: 0.2s linear all;
  // }

  // button:nth-child(2):hover{
  //     background-color: darken($green, 10%);
  // }
}

// Multi Slider
.slider {
  margin: 4rem 0;
}

input[type="range"] {
  box-sizing: border-box;
  appearance: none;
  width: 100%;
  margin: 0;
  padding: 0 2px;
  /* Add some L/R padding to ensure box shadow of handle is shown */
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(grey, grey) no-repeat center;
  /* Use a linear gradient to generate only the 2px height background */
  background-size: 100% 2px;
  pointer-events: none;

  &:active,
  &:focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    height: 28px;
    width: 28px;
    border-radius: 28px;
    background-color: $blue;
    position: relative;
    margin: 5px 0;
    /* Add some margin to ensure box shadow is shown */
    cursor: pointer;
    appearance: none;
    pointer-events: all;
    box-shadow: 0 1px 4px 0.5px rgba(0, 0, 0, 0.25);
    &::before {
      content: " ";
      display: block;
      position: absolute;
      top: 13px;
      left: 100%;
      width: 2000px;
      height: 2px;
    }
  }
}

.multi-range {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 400px;
  height: 50px;
  margin: 20px 0 $sm 0;
  display: flex;

  input[type="range"] {
    position: absolute;

    &:nth-child(2) {
      background: none;
    }
  }

  .min-value {
    position: absolute;
    font-size: calc(12px + 0.5vw);
    left: 0;
    top: -2rem;
  }

  .max-value {
    position: absolute;
    font-size: calc(12px + 0.5vw);
    right: 0;
    top: -2rem;
  }
}

.range-price {
  margin: 3rem 0;
  display: flex;
  justify-content: center;

  h5 {
    margin: 0 !important;
    font-size: calc(14px + 0.5vw);
    border-radius: $button-radius;
    vertical-align: middle;
    width: 20%;
    padding: 6px 0;
    background-color: $blue;
    color: $off-white;
  }
}

@media screen and (max-width: 1366px) {
  .questions {
    .icon-check {
      left: 0.3rem;
      font-size: 2.6rem;
    }

    .icon-check-hidden {
      font-size: 2.6rem;
    }
  }

  .multi-range {
    .min-value {
      top: -1.4rem;
    }

    .max-value {
      top: -1.4rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .questions {
    width: 90%;
    margin: 0px auto 0 auto;
    padding: $sm $md;

    h5 {
      font-size: calc(1.2rem + 0.9vw);
      margin-top: $sm !important;
      margin-bottom: $md;
    }

    .options-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }

    .option {
      margin: $normal auto;
      font-size: calc(11px + 1vw);
      padding: $normal $lg;
      width: 100%;
    }

    .option-multiple {
      margin: $normal auto;
      padding: $normal $lg;
      text-align: center;
      width: 100%;
      font-size: calc(9px + 0.8vw);
    }

    .icon-check {
      left: 0.2rem;
      font-size: 2.3rem;
    }

    .icon-check-hidden {
      left: 0.2rem;
      font-size: 2.3rem;
    }

    &-multiple {
      font-size: calc(1.2rem + 0.9vw);
    }
  }

  .button-container {
    margin: 10px 0 $normal 0;
    padding: $md;
    width: 100%;

    button {
      font-size: 1.1rem;
    }

    button:first-child {
      padding: 1rem 8rem;
    }
  }

  // Multi Slider
  .slider {
    margin: 4rem 0 0;
  }

  input[type="range"] {
    &::-webkit-slider-thumb {
      height: 24px;
      width: 24px;
    }
  }

  .multi-range {
    width: 80%;
    height: 50px;

    .min-value {
      font-size: calc(11px + 0.9vw);
    }

    .max-value {
      font-size: calc(11px + 0.9vw);
    }
  }

  .range-price {
    margin: 1rem 0;

    h5 {
      margin: 0 !important;
      font-size: calc(12px + 0.9vw);
      width: 40%;
      padding: 8px 0;
    }
  }
}

@media screen and (max-width: 349px) {
  .questions {
    h5 {
      font-size: calc(1rem + 0.8vw);
      margin-top: $sm !important;
      margin-bottom: $md;
    }

    .option-multiple {
      font-size: calc(7px + 0.8vw);
    }

    .option {
      margin: $md auto $sm auto;
      font-size: calc(9px + 0.8vw);
    }

    &-multiple {
      font-size: calc(1rem + 0.8vw);
    }
  }

  .range-price {
    h5 {
      width: 80%;
    }
  }
}
